.text_gradient {
  background: linear-gradient(
    94.23deg,
    #5374fa 12.41%,
    #fd9179 52.55%,
    #ff6969 89.95%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 700;
}
.intro_tag {
  background: #fff;
}
